.input_box {
	height: 65px;
	font-size: 20px;
}

.button {
	height: 65px;
	font-size: 20px;
}

@media screen and (max-height: 1120px) {
  .input_box {
  	height: 50px;
  	font-size: 15px;
  }
  .button {
  	height: 50px;
  	font-size: 15px;
  }
}
