.genre_selector {
  /*background-color: #222;*/
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 600px;
  -webkit-justify-content: center;
  justify-content: center;
/*  -webkit-justify-content: space-between;
  justify-content: space-between;*/
}


