.audioplayer {
  width: 380px;
  height: 60px;
  border: none;
}

.pButton {
  height:60px; 
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
}

.play {
  background: url('http://www.alexkatz.me/codepen/images/play.png') ;
  height:60px; 
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;}

.pause {
  background: url('http://www.alexkatz.me/codepen/images/pause.png') ;
  height:60px; 
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;}

.timeline {
  width: 300px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
}

.playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 0, 0,1);
}

@media screen and (max-height: 1120px) {
  .audioplayer {
    width: 380px;
    height: 30px;
  }
  .pButton {
    height: 30px;
    width: 30px;
  }
  .play {
    height: 30px;
    width: 30px;
  }
  .pause {
    height: 30px;
    width: 30px;
  }
  .timeline {
    width: 300px;
    height: 10px;
    margin-top: 10px;
  }
  .playhead {
    width: 9px;
    height: 9px;
  }
}
