.hide {
  display: none;
}

.start_button {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 80vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
}

.loader_message {
  color: white;
  font-size: 24px;
  margin-bottom: 12px;
}

.screen_top {
  height: 180px;
}

.screen_middle {
  height: 100px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.warning {
  font-size: 24px;
  color: red;
  margin-bottom: 36px;
}