.hide {
  display: none;
}

.center_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.start_button {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items:         center;
}

.loader_message {
  color: white;
  font-size: 24px;
  margin-bottom: 12px;
}

.screen_middle {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.warning {
  font-size: 24px;
  color: red;
  margin-bottom: 36px;
}