.scoreboard {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-align-items: stretch; /* Safari */
  align-items:         stretch;
  margin-bottom: 40px;
  height: 180px;
}

.center {
	text-align: center;
}

.centerHeading {
  text-align: center;
  height: 30px;
}

.right {  
  text-align: right;
}

.score {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 100px;
  flex: 1 1 100px;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #d4d382;
  font-size: 35px;
}

.highScorers {
  font-size: 18px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 100px;
  flex: 1 1 100px;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #52d0da;
  -webkit-align-items: stretch; /* Safari */
  align-items:         stretch;
}

.highScorersList {
  height: 130px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;

  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background-color: #e9e6e0;
  -webkit-align-content: center; /* Safari */
  align-content:         center;
}

.tableWidth {
	width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.column1 {
  width: 200px;
}

.column2 {
  width: 25px;
}

@media screen and (max-width: 1000px) {
    .highScorers { display:none }
}
