.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  height: 180px;
}

.center {
	text-align: center;
}

.centerHeading {
  text-align: center;
  height: 30px;
}

.score {
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  justify-content: center;
  background-color: #d4d382;
  font-size: 35px;
}

.highScorers {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  justify-content: center;
  background-color: #52d0da;
  align-items: stretch;
}

.highScorersList {
  height: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e9e6e0;
  align-content: center;
}

.tableWidth {
	width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.column1 {
  width: 200px;
}

.column2 {
  width: 25px;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .highScorers { display:none }
}

@media screen and (max-height: 1120px) {
  .scoreboard {
    height: 150px;
  }
  .highScorers {
    font-size: 13px;
  }
  .highScorersList {
    height: 100px;
  }
  .score {
    font-size: 30px;
  }
}
