.songPanel {
  height: 100px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #493d54;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .songPanel {
  	height: 150px;
  }
}

@media screen and (max-height: 1120px) {
  .songPanel {
    height: 75px;
  }
}

@media screen and (max-height: 1120px) and (max-width: 1199px) {
  .songPanel {
    height: 110px;
  }
}

