.songInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
  align-items: stretch;
}

.songInfo2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  flex: 10 1 400px;
}

.first_panel {
  width: 440px;
  padding-left: 20px;
}

.middle_panel {
  width: 380px;
}

.last_panel {
  display: flex;
  flex-direction: column;
  flex: 1 0 200px;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}

.points {
  font-size: 25px;
  color: white;
}

.songInfo {
  height: 100%;
  text-align: left;
}

.hidden {
  display: none;
}

.title {
  font-size: 22px;
}

.creator {
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .first_panel {
    padding-left: 48px;
  }
}

@media screen and (max-width: 675px),
       screen and (max-height: 1120px)  {
  .first_panel {
    padding-left: 40px;
  }
  .title {
    font-size: 18px;
  }

  .creator {
    font-size: 12px;
  }

  .points {
    font-size: 18px;
  }
}
