.songInfo {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: white;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-align-items: stretch; /* Safari */
  align-items:         stretch;
}

.songInfo2 {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  color: white;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
  -webkit-flex: 10 1 400px;
  flex: 10 1 400px;
}

.first_panel {
  width: 440px;
  padding-left: 20px;
}

.middle_panel {
  width: 440px;
}

.last_panel {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 200px;
  flex: 1 0 200px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
  background-color: #313131;
}

.points {
  font-size: 25px;
  color: white;
}

.songInfo {
  height: 100%;
  text-align: left;
}

.hidden {
  display: none;
}

.title {
  font-size: 22px;
}

.creator {
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .first_panel {
  }
}

@media screen and (max-width: 460px) {
  .title {
    font-size: 18px;
  }

  .creator {
    font-size: 12px;
  }
}
