.songInfo {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: white;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-align-items: stretch; /* Safari */
  align-items:         stretch;
}

.flexitem1 {
  -webkit-flex: 1 1 500px;
  flex: 1 1 500px;
  margin-left: 15px;
}

.flexitem2 {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: 15px;
}

.flexitem3 {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  
  -webkit-flex: 1 1 100px;
  flex: 1 1 100px;
  background-color: #313131;
  -webkit-justify-content: center;
  justify-content: center;
}

.just {
  text-align: left;
}

.points {
  font-size: 25px;
  color: white;
}

.songInfo {
  height: 100%;
}

.hidden {
  display: none;
}

.title {
  font-size: 22px;
}