.visualizer {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  margin-top: 10px;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}


@media screen and (max-width: 1199px) {
  .visualizer {
    margin-top: 30px;
  }
}
