.login_button {
  width: 320px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #30393C;
}

.signup_button {
  width: 320px;
  margin-bottom: 20px;
  background-color: #435358;
}

.welcome {
  position: relative;
}

.button_group {
  position:absolute;
  width:100%;
}

.logo {
  font-family: 'Monoton';
}
